<h1>Search for a recipe</h1>

<form action="/scrap" method="post">
  <div>
    <label for="name">Ingredient?</label>
    <input type="text" name="ingredient">
  </div>
  <input type="submit" value="Search">
</form>

